
*
{
	margin:0px;
	padding:0px;
	outline:none;
	border:none;
}

body
{
	width:100%;
	height:100%;
	font-family:SourceSans;
	font-size:15px;
	cursor:default;
	overflow:hidden;
}

a
{
	cursor:pointer;
}

#toolbar
{
	width:100%;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	background-color:rgb(49,95,128);
	background-image:url('../images/header.png');
	background-position:left center;
	background-repeat:no-repeat;
}

#content
{
	width:100%;
	position:absolute;
	left:0px;
	top:42px;
	overflow:scroll;
	background-color:rgb(27,44,52);
	background-image:url('../images/content_back.png');
	background-position:center;
	background-repeat:repeat;
}

#content_wrap
{
	width:100%;
}

#scroll_margin
{
	height:10px;
}

#status_bar
{
	width:100%;
	height:24px;
	position:absolute;
	left:0px;
	bottom:0px;
	background-color:rgb(49,95,128);
}

#status_bar span
{
	padding-left:8px;
	padding-right:3px;
	line-height:26px;
}

#status_bar_left
{
	width:50%;
	height:24px;
	float:left;
	text-align:left;
	color:rgb(247,248,249);
}

#status_bar_right
{
	width:50%;
	height:24px;
	float:left;
	text-align:right;
	color:rgb(247,248,249);
}

#header
{
	padding-right:183px;
}

#dialog_back
{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background-color:rgb(7,8,9);
	opacity:0.6;
	display:none;
	z-index:125;
}

#tooltip
{
	display:none;
}

#div_errorMessage
{
	color:rgb(181,34,34);
}

#icon_online
{
	display:none;
}

#icon_online, #icon_offline
{
	margin-top:2px;
	margin-right:5px;
}

.dialog
{
	padding:12px;
	position:absolute;
	background-color:rgb(247,248,249);
	border:5px solid rgb(227,228,229);
	display:none;
	z-index:130;
}

.centered
{
	text-align:center;
}

.button
{
	width:150px;
	margin-bottom:10px;
	padding:3px;
	text-align:center;
	background-color:rgb(197,198,199);
	color:rgb(7,8,9);
	cursor:pointer;
	border:1px solid rgb(217,218,219);
}

.button:hover
{
	background-color:rgb(49,95,128);
	border:1px solid rgb(69,115,148);
	color:rgb(247,248,249);
}

.button_toolbar
{
	margin-left:5px;
	margin-top:5px;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
	height:32px;
	text-align:center;
	background-color:rgb(102,149,179);
	border:1px solid rgb(82,129,159);
	color:rgb(247,248,249);
	background-position:5px center;
	background-repeat:no-repeat;
	border-radius:3px;
}

.button_toolbar:hover
{
	background-color:rgb(122,169,199);
}

.button_color
{
	width:24px;
	height:24px;
	margin:5px;
	border:2px solid rgb(67,68,69);
	background-position:center;
	background-repeat:no-repeat;
}

.button_color:hover
{
	border:2px solid rgb(117,118,119);
}

.color_selected
{
	background-image:url('../images/checked.png');
}

.text_input
{
	width:180px;
	padding:3px;
	background-color:rgb(247,248,249);
	border:1px solid rgb(127,128,129);
	color:rgb(7,8,9);
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
}

.text_input:focus
{
	border:1px solid rgb(167,168,169);
}

.textarea_input
{
	width:250px;
	height:120px;
	padding:3px;
	background-color:rgb(247,248,249);
	border:1px solid rgb(127,128,129);
	color:rgb(7,8,9);
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
	resize:none;
}

.textarea_input:focus
{
	border:1px solid rgb(167,168,169);
}

.select
{
	width:180px;
	padding:3px;
	text-align:left;
	background-color:rgb(247,248,249);
	border:1px solid rgb(127,128,129);
	color:rgb(7,8,9);
	margin-top:10px;
	margin-bottom:10px;
	background-image:url('../images/down.png');
	background-position:160px center;
	background-repeat:no-repeat;
}

.select:hover
{
	border:1px solid rgb(167,168,169);
}

.select span
{
	display:none;
}

.select_items
{
	width:178px;
	text-align:left;
	background-color:rgb(237,238,239);
	border:1px solid rgb(127,128,129);
	position:absolute;
	z-index:180;
	display:none;
}

.select_item
{
	width:100%;
	padding:3px;
	display:block;
	color:rgb(7,8,9);
	text-align:left;
	background-color:transparent;
}

.select_item:hover
{
	background-color:rgb(49,95,128);
	color:rgb(247,248,249);
}

.select_item span
{
	display:none;
}

.column
{
	width:400px;
	float:left;
	height:auto;
	min-height:40px;
	margin-top:10px;
	margin-left:10px;
	background-color:rgb(247,248,249);
	background-image:url('../images/column_back.png');
	background-position:center;
	background-repeat:repeat;
}

.column_header
{
	width:400px;
	height:32px;
	background-color:rgb(49,95,128);
	color:rgb(247,248,249);
	font-size:18px;
}

.column_header_left
{
	width:185px;
	float:left;
	padding:5px;
	padding-left:10px;
	font-size:18px;
	text-align:left;
}

.column_limit
{
	display:inline-block;
	height:22px;
	line-height:26px;
	text-align:center;
	font-size:15px;
	padding-left:5px;
	padding-right:5px;
	background-color:rgb(89,135,168);
}

.column_header_right
{
	width:190px;
	padding-right:10px;
	padding-top:4px;
	float:left;
	text-align:right;
}

.column_content
{
	width:390px;
	padding:5px;
}

.button_small
{
	width:24px;
	height:24px;
	background-color:transparent;
	background-position:center;
	background-repeat:no-repeat;
}

.button_small:hover
{
}

.icon_left
{
	background-image:url('../images/left.png');
}

.icon_left:hover
{
	background-image:url('../images/left_hover.png');
}

.icon_right
{
	background-image:url('../images/right.png');
}

.icon_right:hover
{
	background-image:url('../images/right_hover.png');
}

.icon_delete
{
	background-image:url('../images/delete.png');
}

.icon_delete:hover
{
	background-image:url('../images/delete_hover.png');
}

.icon_add
{
	background-image:url('../images/add.png');
}

.icon_add:hover
{
	background-image:url('../images/add_hover.png');
}

.icon_edit
{
	background-image:url('../images/edit.png');
}

.icon_edit:hover
{
	background-image:url('../images/edit_hover.png');
}

.task
{
	width:380px;
	margin:5px;
	margin-bottom:10px;
}

.task_header
{
	width:380px;
	height:32px;
	color:rgb(247,248,249);
	font-size:18px;
	background-color:rgb(49,95,128);
}

.task_header_left
{
	width:175px;
	float:left;
	padding:5px;
	padding-left:10px;
	padding-top:7px;
	font-size:15px;
	text-align:left;
	cursor:move;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.task_header_right
{
	width:180px;
	padding-right:10px;
	padding-top:4px;
	float:left;
	text-align:right;
}

.task_content
{
	width:368px;
	padding:5px;
}

.task_drop_area
{
	width:380px;
	height:8px;
	margin:5px;
	background-color:rgb(217,218,219);
	color:rgb(217,218,219);
	font-size:0px;
	line-height:0px;
	display:none;
}

.task_drop_area_hover
{
	background-color:rgb(236,181,86);
	color:rgb(236,181,86);
}

.meta_hidden
{
	display:none;
}

.task_small_info
{
	font-size:80%;
	color:rgb(87,88,89);
}
